config/asciinema/install-id
config/gh/hosts.yml
config/homebrew/trust.json.lock
config/zsh/.zsh_sessions/
config/zsh/.zcompdump
**/nvim/spell/*.add.spl
temp/
vim/autoload

# Files installed by other tools
scripts/devcontainer
scripts/specify
