config/asciinema/install-id
config/gh/hosts.yml
config/karabiner/automatic_backups/
config/zsh/.zsh_sessions/
temp/
vim/autoload

# Files installed by pip installed packages
ghp-import
markdown_py
mkdocs
rename_termtab
watchmedo

# Files installed by VS Code
scripts/devcontainer
