snippet mfg "MFG"
Freundliche Grüsse
endsnippet

snippet mymail "Print g:snips_email"
${1:`!v g:snips_email`}
endsnippet

snippet mygh "Print github profile URL"
${1:`!v g:snips_github`}
endsnippet

snippet #! "Shebang with env"
#!/usr/bin/env $1
endsnippet
