- name: Setup dotfiles repo
  hosts: local
  gather_facts: false
  become: false

  vars:
    dotfiles_additional_symlinks:
      - { src: ~/.dotfiles/scripts, path: ~/.local/bin }
      - { src: ~/.dotfiles/macos/macos, path: ~/.macos }
      - { src: ~/.dotfiles/vim, path: ~/.vim }
      - { src: ~/.dotfiles/wget/wgetrc, path: ~/.wgetrc }
      - { src: ~/.config/bash/bashrc, path: ~/.bashrc }
      - { src: ~/.config/bash/profile, path: ~/.bash_profile }
      - { src: ~/.config/editorconfig, path: ~/.editorconfig }
      - { src: ~/.config/zsh/zshenv, path: ~/.zshenv }
    dotfiles_omit_configs:
      - alacritty
      - kitty
      - tmux
      - tmuxp
      - vbox

  tasks:
    - name: "Symlink dotfiles"
      ansible.builtin.import_tasks: tasks/dotfiles.yml
      tags: ["dotfiles"]
